

body {
    background-color: #eceff1;
}
.show-container {
    padding-left: 10px;
    padding-right: 10px;
}
.show-data {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 6px;
    background-color: #cfd8dc ;
    box-shadow: 5px 3px 9px #050c0c;
    display: flex;
}
.show-data img {
    width: 150px;
    height: auto;
    display: block;
}
.show-data h1 {
    text-align: center;
    
}
.show-info {
    width: 100%;
    padding: 10px;
}
@media (max-width: 800px){
    .show-data img{
        display: block;
        margin: 10 px;   
    }
    .show-info p {
        text-align: center;
        padding: 10px;
    }

}